/* GENERAL */ 

body {
    font-family: 'Raleway', sans-serif !important;
}


.responsive {
    width: 100%;
    height: auto ;
    display: block;
  }
 
.no-margin {
    margin:0;
}

main section h1 {
    font-size: 1.3em;
    font-weight: 900;
}

  
/******** HEADER ***********/

header {    
    height: 8em;
    font-size: 0.9em;
}

#header_wrapper {
    width: 100%;
}

header div {
    display: flex;
    align-items: center;
}

#logo {
    max-width: 100px;
    max-height: 50px;
}

.navigation_home {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding-top: 14%;
    padding-right: 40px;
    padding-left: 40px;
}

header nav ul li a:hover {
    text-decoration: none;
    color: #0065FC;
    border-top: 2px #0065FC solid;
    border-bottom: none;
}

#inscription_menu a:hover {
    text-decoration: none;
    color: #0065FC;
}

#navigation_menu {
    font-weight: 500;
    color: black;
}

#inscription_menu {
    font-weight: 990;
}

/****** MAIN *********/


#research p {
    font-size: 0.9em;
}

#search_form {
    display: flex;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
}

#icon_area {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 1px #d9d9d9 solid;
    background: #d9d9d9;
}

#search_area {
    width: 85%;
    height: auto;
}

#button_area {
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background: #0065FC;
    color: #fff;
}

#research_button {
    width: 2.6em;
    height: 2.6em;
    border: none;
    border-radius: 10px;
    background: #0065FC;
    color: #fff;
}

#research_button:focus {
    outline: 0;
}

#cities_research {
    border: none;
}

#cities_research::placeholder {
    font-weight: 900;
    color: #000;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5%;
}

#filters p {
    font-weight: 900;
}

.button_filter {
    position: relative;
    padding: 0.5em 0.7em 0.5em 1.7em;
    font-weight: 900;
    background: #fff;
    border: 2px #d9d9d9 solid;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.button_filter:hover {
    background: #d9d9d9;
}

.button_filter:focus {
    outline: 0;
}

.icon_filter {
    position: absolute;
    top:-0.1em;
    left:-1.5em;
    height: 2.75em;
    width: 2.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #DEEBFF;
    color: #0065FC;
}

#infos {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 3% 0 3% 0;
}

#id_icon {
    border: #d9d9d9;
    color: #0065FC;
    
}

#infos_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 1px #c6c7c7 solid;
    background: #fff;
    color: #0065FC;
}

#infos p {
    padding-left: 1em;
}

/***** ACCOMMODATION ---- HOSTS PART ******/

.hosts_results_wrapper {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap:2em;
    grid-column-gap:2em;
    height: 35em;
}

.hosts-item-a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12% repeat(2,auto);
    justify-content: center;
    padding: 0 1em 0 1em;
    border-radius: 20px;
    background: #F2F2F2;
}

.hosts-title {
    grid-column: 1 / span 2 ;
    align-self: end;
    margin-left: 0.5em;
    padding-bottom: 0.5em;
}

.hosts-item {
    display: grid;
    grid-template-rows: 6fr 1fr 3fr;
    grid-template-columns: 1fr;
    max-height: 200px;
    max-width: 260px;
    margin: 0.5em;
    border-radius: 20px;
    border: 4px #fff solid;
    background: #fff;
}

#hosts-item-1 {
    grid-column-start: 1;
    grid-row-start:2 ;
}

#hosts-item-2 {
    grid-column: 2;
    grid-row: 2;
}

#hosts-item-3 {
    grid-column: 3;
    grid-row: 2;
}
#hosts-item-4 {
    grid-column: 1;
    grid-row: 3;
}

#hosts-item-5 {
    grid-column: 2;
    grid-row: 3;
}
#hosts-item-6 {
    grid-column: 3;
    grid-row: 3;
}

.hosts_picture_wrapper {
    grid-row: 1 / span 3;
    grid-column: 1;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hosts_picture {
    max-height: 150px;
    max-width: 250px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hosts_details {
    grid-row: 2 / span 3;
    grid-column: 1;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.625em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
}

.hosts_results_wrapper h2 {
    font-size: 0.9em;
    font-weight: 900;
}

.hosts_results_wrapper p {
    font-size: 0.8em;
    margin-bottom: 0;
}

.more_details {
    grid-column: 1;
    grid-row: 4;
    padding-right: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
    padding-left: 0.5em;
    font-weight: 900;
}

/***** ACCOMMODATION ---- POPULAR PART *******/

.popular-item-b {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% repeat(3, auto);
    align-items: center;
    padding: 0 1em 0 1em;
    border-radius: 20px;
    background: #F2F2F2;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.popular-item {
    display: grid;
    grid-template: 1fr / 40% 10% 50%;
    max-width: 350px;
    max-height: 150px;
    
}

.popular_picture_wrapper {
    grid-row: 1;
    grid-column: 1 / span 2;
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.popular-picture {
    max-height: 200px;
    max-width: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 4px #fff solid;
}

.popular_details {
    grid-row: 1;
    grid-column: 2 / span 2;
    z-index: 10;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 35px;
    padding-left: 15px;
}

/****** ACTIVITIES *******/

.activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% repeat(3,auto);
    margin: 2em 0 2em 0;
}

.activitie_area_1 {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    border-radius: 10px;
    display: grid;
    grid-template: none  1fr / 1fr 11%;
    
    border: 2px red solid;
}

.activitie_picture_wrapper {
    grid-column: 1;
    grid-row: 1 / 3;
    z-index:1;
    display: flex;
}

.activitie_picture {
    object-fit: cover;
    max-height: 350px;
    max-width: 250px;
    height: 28em;
    border-radius: 20px;
    overflow: hidden  ;
    
}

#legend_1 {
    grid-column: 1;
    grid-row: 2;
    z-index: 10;
    background: #fff;
    border: 2px blue solid;
}


/******* DEVICE **********/

@media all and (max-width: 767px) {

/**** HEADER DEVICE *****/

    header {
        font-size: 1em;
    }

    #header_wrapper {
        width: 100vw;
    }

    #logo_container {
        height: 60%;
        padding-left: 30px;
    }

    #inscription_menu {
        justify-content: flex-end;
    }

    #navigation_menu {
        height: 40%;
        padding-right: 0;
        padding-left: 0;
    }

    header nav {
        width: 100vw;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    header nav ul li {
        width: 50%;
        text-align: center;
        border-bottom:2px #F2F2F2 solid;
        padding-bottom: 2%;
    }

    header nav ul li:hover {
        border-bottom: 2px #0065FC solid;
    }

    header nav ul li a {
        padding-right: auto;
        padding-left: auto;
        padding-top: 0;
        width: h-100;
        height: w-100;
    }

    header nav ul li a:hover {
        border-top: none;
        color: #0065FC;
    }
/**** RESEARCH DEVICE *****/

    #research h1 {
        font-size: 1.5em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #research p {
        margin-bottom: 20px;
    }

    #research_button {
        left: 89%;
        top:-0.015em;
    }

/*** HOSTS DEVICE ***/
    #citie_hosts {
        border-radius: 0;
    }

    #popular_hosts {
        border-radius: 0;
    }

}


@media (min-width:576px) {
    .container {
        width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        width: 960px;
    }
    
}

@media (min-width:1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width:576px) {
    .container {
        width: 540px;
    }   
}