/* GENERAL */ 

body {
    font-family: 'Raleway', sans-serif !important;
}

.responsive {
    width: 100%;
    height: auto ;
    display: block;
  }

.wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
}

.no-margin {
    margin:0;
}

main section h1 {
    font-size: 1.3rem;
    font-weight: 900;
}
  
/******** HEADER ***********/

.site-header {    
    height: 8rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 100px;
    max-height: 50px;
}

#logo_container {
    flex: 1;
    order: 1;
}

#navigation_home {
    order:2;
}

#inscription_menu {
    order: 3;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    padding: 3rem 2rem 0 2rem;
    color: black;
}

header nav ul li a:hover {
    text-decoration: none;
    color: #0065FC;
    border-top: 2px #0065FC solid;
    border-bottom: none;
}

#inscription_menu a {
    text-decoration: none;
    padding-left: 2rem;
    color: #0065FC;
    font-weight: 990;
}

#inscription_menu a:hover {
    text-decoration: none;
    color: #0065FC;
}

/****** MAIN *********/

.research p {
    font-size: 1rem;
}

#search_form {
    width: 30vw;
    display: flex;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
}

#icon_area {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 1px #d9d9d9 solid;
    background: #d9d9d9;
}

#search_area {
    width: 85%;
    height: auto;
}

#search_area:active {
    border: none;
}

#button_area {
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background: #0065FC;
    color: #fff;
}

#search_icon {
    display: none;
}

#research_button {
    height: 2.6rem;
    padding: 0 1rem 0 1rem;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0065FC;
    color: #fff;
    font-weight: 550;
}

#research_button:focus {
    outline: 0;
}

#cities_research {
    border: none;
    width: 100%;
    height: 100%;
}

#cities_research::placeholder {
    padding-left: 0.313rem;
    font-weight: 750;
    color: #000;    
}

#cities_research:focus {
    outline: 0;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.5%;
}

#filters p {
    font-weight: 900;
}

#filters button {
    margin-left: 3rem;
}

.button_filter {
    position: relative;
    padding: 0.7rem 0.7rem 0.6rem 1.7rem;
    background: #fff;
    border: 2px #d9d9d9 solid;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: 750;
    font-size: 1rem;
}

.button_filter:hover {
    background: #d9d9d9;
}

.button_filter:focus {
    outline: 0;
}

.icon_filter {
    position: absolute;
    top:-0.2rem;
    left:-1.5rem;
    height: 2.75rem;
    width: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #DEEBFF;
    color: #0065FC;
}

#infos {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 3% 0 3% 0;
}

#id_icon {
    border: #d9d9d9;
    color: #0065FC;
    
}

#infos_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 1px #c6c7c7 solid;
    background: #fff;
    color: #0065FC;
}

#infos p {
    padding-left: 1rem;
}

/***** HOSTS PART ******/

.hosts_results_wrapper {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-row-gap:2rem;
    grid-column-gap:2rem;
    margin-left: 0 auto 0 auto;
}

.hosts_results_wrapper h2 {
    font-size: 0.9rem;
    font-weight: 900;
}

.hosts_results_wrapper p {
    font-size: 0.8rem;
    margin: 0.2rem 0 0.2rem 0;
}

.hosts-item-a {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template: 12% repeat(2,38%) 12% / repeat(3, 1fr);
    justify-content: center;
    padding: 0 1rem 0 1rem;
    border-radius: 20px;
    background: #F2F2F2;
}

.hosts-title {
    grid-column: 1 / span 2 ;
    grid-row: 1;
    align-self: end;
    margin-left: 0.5em;
    padding-bottom: 0.5em;
}

.hosts-item {
    display: grid;
    grid-template: 6fr 1fr 3fr / 1fr;
    margin: 0.5rem;
    border-radius: 20px;
    border: 4px #fff solid;
    background: #fff;
    box-shadow: 1px 1px 20px #d9d9d9;
}

#hosts-item-1 {
    grid-column: 1;
    grid-row:2 ;
}

#hosts-item-2 {
    grid-column: 2;
    grid-row: 2;
}

#hosts-item-3 {
    grid-column: 3;
    grid-row: 2;
}
#hosts-item-4 {
    grid-column: 1;
    grid-row: 3;
}

#hosts-item-5 {
    grid-column: 2;
    grid-row: 3;
}
#hosts-item-6 {
    grid-column: 3;
    grid-row: 3;
}

.hosts_picture_wrapper {
    grid-row: 1 / 3;
    grid-column: 1;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hosts_picture {
    max-height: 150px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hosts_details {
    grid-row: 2 / span 3;
    grid-column: 1;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.625em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
}

.more_details {
    grid-column: 1;
    grid-row: 4;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 900;
}

/***** POPULAR HOSTS PART *******/

.popular-item-b {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12% repeat(3, 29%);
    padding: 0 1em 0 1em;
    border-radius: 20px;
    background: #F2F2F2;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-self: end;
    margin-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.popular-item {
    display: grid;
    grid-template: auto / 4fr 1fr 5fr;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #d9d9d9;
    margin: 0.5rem;
}

.popular_picture_wrapper {
    grid-row: 1;
    grid-column: 1 / span 2;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px;
    border: 4px #fff solid;
}

.popular-picture {
    max-height: 150px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular_details {
    grid-row: 1;
    grid-column: 2 / span 2;
    z-index: 10;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 2.1rem 0 0.9rem;
}


/****** ACTIVITIES *******/

.activities {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10% 4fr 5% 5% 4fr;
    margin: 2em 0 2em 0;
    height: 33em;
}

.activitie_area {
    margin: 0.5em; 
    border-radius: 20px;
    box-shadow: 1px 1px 30px #c6c7c7;
}

#activitie_1 {
    grid-column: 1;
    grid-row: 2 / span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10%;
}

#activitie_2 {
    grid-column: 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20%;
}

#activitie_3 {
    grid-column: 2;
    grid-row: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25%;
}

#activitie_4 {
    grid-column: 3;
    grid-row: 2 / span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10%;
}

#activitie_5 {
    grid-column: 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25%;
}

#activitie_6 {
    grid-column: 4;
    grid-row: 4 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20%;
}

.activitie_picture_wrapper {
    grid-column: 1;
    grid-row: 1 / 3;
    z-index:1;
    display: flex;
}

.activitie_picture {
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.legend {
    grid-column: 1;
    grid-row: 2;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0.5em;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px #fff solid;
    font-weight: 900;
    font-size: 0.8vw;
}

/******** FOOOTER  **********/ 

footer {
    display: flex;
    background: #F2F2F2;
}

.nav_footer {
    margin-left: 2rem;
}

footer p {
    font-size: 0.8rem;
    font-weight: 900;
}

footer ul {
    list-style-type: none;
    padding:0;
    margin-right: 8rem;
}

footer ul li {
    list-style-type: none;
    font-size: 0.8rem;
}

.nav_footer ul li {
    padding-bottom: 0.5rem;
}


/******* PHONE **********/
@media all and (max-width: 580px) {
    .wrapper {
        margin: 0;
        padding: 0;
    }

    /* HEADER */
    .site-header {
        height: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #logo_container {
        padding: 0 0 0 1rem;
    }

    #logo {
        min-width: 100px;
        min-height: 50px;
    }
    
    #inscription_menu {
        order: 2;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding: 0 1rem 0 0;
    }

    #navigation_home {
        order: 3;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #navigation_home nav {
        width: 100%;
    }

    #navigation_home nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #navigation_home nav ul li {
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 2px #F2F2F2 solid;
    }

    #navigation_home nav ul li:hover {
        
        border-bottom: 2px #0065FC solid;
    }
    
    header nav ul li a {
        text-decoration: none;
        color: black;
        padding: 0 0 0.5rem 0;
    }

    #navigation_home a:hover {
        border-top:none;
    }

    /* MAIN */

    .research h1 {
        margin: 0 1rem 0 1rem;
    }

    .research p {
        margin-left: 1rem;
    }

    #search_form {
        width: 80vw;
        margin-left: 1rem;
    }

    #search_text {
        display: none;
    }

    #search_icon {
        display: block;
    }

    #button_area {
        width: 15%;
    }

    #research_button {
        width: 100%;
        padding: 0;
    }

    #filters {
        display: grid;
        grid-template: 10% repeat(3, 1fr) / 1fr 1fr;
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
    }

    #filters button {
        margin-left: 2rem;
    }

    .filter_name {
        grid-row: 1;
        grid-column: 1;
        
    }

    #button_filter_1 {
        grid-row: 2;
        grid-column: 1;
    }

    #button_filter_2 {
        grid-row: 2;
        grid-column: 2;
    }

    #button_filter_3 {
        grid-row: 3;
        grid-column: 1;
    }

    #button_filter_4 {
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    #filters p {
        padding: 1rem 0 0.5rem 0;
    }

    .button_filter {
        font-size: 0.9rem;
        padding: 0.7rem 0.7rem 0.7rem 1.7rem;
        margin: 0 auto 0 2.5rem;
    }

    .icon_filter {
        left: -1.3rem;
    }
    
    #infos {
        margin: 1.5rem 1rem 1.5rem 1rem;
    }

    #infos_icon {
        height: 1.6rem;
        width: 1.7rem;
        
    }

    #infos p {
        text-align: start;
        font-size: 0.8rem;
        margin-left: 0;
    }

    .hosts_results_wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .popular-item-b {
        grid-row-gap: 1em;
        border-radius: 0;
    }

    .popular-title {
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
    }

    .popular_details h2, .hosts-item h2{
        font-size: 1rem;
    }

    .popular_details p , .hosts-item p {
        margin: 0 0 0.5em 0;
        font-size: 0.8em;
    }

    .popular-title h1 {
        margin:0;
    }
    
    .hosts-item-a {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        background: #fff;
    }

    .hosts_picture {
        max-width: 100vw;
    }
    
    /* MAIN -  ACTIIVITIES */
    .activities {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .activitie_picture {
        max-width: 100vw;
    }

    .activities h4 {
        font-size: 1rem;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
    }

}

/********** TABLETS *********/
@media all and (min-width: 581px) and (max-width: 768px) {

    /* HEADER */
    
    #logo {
        min-width: 100px;
        min-height: 50px;
    }

    header nav ul li a {
        padding: 3rem 1rem 0 1rem;
    }

    /* MAIN */

    #search_form {
        width: 80vw;
    }

    #icon_area {
        width: 8%;
    }

    #search_text {
        display: none;
    }

    #search_icon {
        display: block;
    }
    
    #research_button {
        width: 100%;
    }

    #filters {
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 10% 1fr 1fr;
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
    }

    .filter_name {
        grid-row: 1;
        grid-column: 1;
    }

    .button_filter {
            font-size: 0.9rem;
            padding: 0.7rem 0.7rem 0.6rem 1.7rem;
            margin: 0 auto 0 2.5rem;
            text-align: start;
        }

    #button_filter_1 {
        grid-row: 1;
        grid-column: 2;
    }

    #button_filter_2 {
        grid-row: 1;
        grid-column: 3;
    }

    #button_filter_3 {
        grid-row: 2;
        grid-column: 2;
    }

    #button_filter_4 {
        grid-row: 2;
        grid-column:3;
    }

    .hosts_results_wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    #activities {
        display: grid;
        grid-template-rows: 10% 1fr 10% 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .activitie-title {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    #activitie_1 {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    
    #activitie_2 {
        grid-column: 3;
        grid-row: 2;
    }
    
    #activitie_3 {
        grid-column: 4;
        grid-row: 2;
    }
    
    #activitie_4 {
        grid-column: 3 / 5;
        grid-row: 4;
    }

    #activitie_5 {
        grid-column: 1;
        grid-row-end: 4;
    }

    #activitie_6 {
        grid-column: 2;
        grid-row-end: 4;
    }

    /* FOOTER */

    footer ul {
        margin:0
    }
}

@media all and (min-width: 769px) and (max-width: 992px)  {
    .hosts_results_wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
}
